* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.3s ease;
}
.app {
  width: 100vw;
  height: 100vh;
}
body {
  /* background-color: rgb(235, 235, 235); */
}

:root {
  --primary: rgb(4, 12, 51);
  --primary-hover: rgb(2, 13, 65);
  --secondary: rgb(59, 166, 208);
  --secondary-hover: rgb(47, 138, 174);
  --dark: #262626;
  --light: rgb(255, 255, 255);
  --danger: rgb(247, 69, 69);
  --danger-hover: rgb(229, 49, 49);
  --success: rgb(71, 170, 71);
  --gray: gray;
}

.header {
  height: 3.5rem;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.4rem;
}

.logo {
  color: var(--light);
  font-size: 1.5rem;
  font-weight: 700;
}
.emp-number-status {
  background-color: var(--secondary);
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  color: var(--light);
  font-weight: 600;
}
.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
  /* background-color: green; */
  padding-inline: 1rem;
}
#delete-all-btn {
  width: 6rem;
  height: 2rem;
  background-color: var(--danger);
  border-radius: 0.3rem;
  color: var(--light);
  border: none;
}
button {
  border: none;
  padding: 0 0.3rem;
}
button:hover {
  cursor: pointer;
}
#delete-all-btn:hover {
  background-color: var(--danger-hover);
}
#warning-all-box {
  width: 28vw;
}
#warning-all-delete {
  margin-top: 2rem;
}
.mt {
  margin-top: 1rem;
}
.box {
  /* margin-top: 2rem; */
  width: 100%;
  height: 90%;
  padding-inline: 1rem;
  padding-top: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* background-color: green; */
}
.sidebar-bg{
 position: fixed;
  height: 100vh;
  width: 100vw;
  margin-top: 0;
  

}
.sidebar {
  position: absolute;
  width: 25rem;
  /* height: 35rem; */
  left: 50%;
  top: 50%;
  margin-top: 2rem;
  border-radius: .5rem;
  transform: translate(-50%,-50%);
  /* width: 17%; */
  background-color: var(--primary);
  box-shadow: 0px 0px 10px 3px gray;
  
}

.section {
  /* background-color: green; */
  width: 60%;
  margin: 1.5rem auto;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
  /* margin: 1.5rem; */
  border-radius: 0.4rem;
  height: 8rem;
  flex-direction: column;
}

.action-icon {
  width:4rem;
  /* background-color: red; */
}
.action-btn {
  margin-top: 1rem;
  height: rem;
  padding: .5rem 0;
  width: 100%;
  color: var(--light);
  border-radius: 0.4rem;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--secondary);
}
.action-btn:active {
  background-color: var(--secondary-hover);
}

.main-box {
  background-color: rgb(235, 235, 235);
  height: 100%;
  width: 90%;
  /* padding: 1.5rem; */
  border-radius: 0.4rem;
}
.handle-section {
  position: fixed;
  top: 5rem;
  z-index: 100;
  left: 1.5vw;
  /* display: none; */
}
.handle-section:hover{
  cursor: pointer;
}
.handle-section:active{
  transform: scale(.5);
}
.hamburger {
  color: var(--light);
  background-color: var(--primary);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.show-navigation {
  left: 1rem;
}

@media screen and (max-width: 1024px) {
 
}

@media screen and (max-width: 768px) {
  
  .sidebar{
    position: fixed;
    width: 80%;
   padding: 1.5rem;

    /* height: 70vh; */
  }
  .handle-section{
    display: block;
  }
  .action-icon{
    width: 4rem;
  }
  .action-btn{
    width: 80%;
    font-size: 1rem;
    height: 3rem;
    padding: .5rem;
  }

  .main-box {
    width: 95%;
  }

  .logo {
    font-size: 4vw;
  }
  .emp-number-status,
  #delete-all-btn {
    font-size: 0.9rem;
    width: 20vw;
  }
  #warning-all-box {
    width: 80%;
  }
}

@media screen and (max-width:500px) {

  .sidebar{
    width: 90%;
  }
  
}
